body {
    background-color: rgb(73, 73, 75);
    color: white;
}

/* .col-4 img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: cover;
}

.card-title {
    overflow: hidden;
} */

.container-img {
    height: 75%;
}

/* @media screen and (max-width: 1500px){
    .navbar {
        height: 100px;
    }
} */

.card-item{
    list-style: none;;
    padding: 5px;
    background-color: rgb(66, 66, 66);
    width: 50%;
}

.conteiner-img {
    /* height: 500px; */
    display: flex;
    flex-direction: space-around;
    justify-content: center;

}